@import "../../style/vars.styl"

.album-list-inner
  position relative
  min-height 200px

.list-spaced
  .list-item
    padding-bottom 15px

    span
      cursor pointer

    &:hover
      color #eee

//for num in (0..10)
//  &.item-{num}
//    padding-left num * 20px

.delete
  color: _white
  padding 2px 5px
  margin-right 10px
  font-size .6em
  border 1px solid _white
  vertical-align middle
  border-radius 10px