@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700')

//font sizes
_font_size_small = .8em
_font_size_normal = 1em
_font_size_big = 1.2em

// font weights
_light = 100
_normal = 400
_bold = 700

// colors
_white = #eee
_red = #EB3349
_orange = #F45C43


// mixins
user-select(n)
  -webkit-user-select: n
  -moz-user-select: n
  -ms-user-select: n
  user-select: n