@import "../../style/vars.styl"

.album-tag
  font-weight _bold
  width 100px
  display inline-block

.album-details
  list-style none

  &>li
    padding-bottom 5px

  .track-list
    padding-left 20px
    display inline-block
    vertical-align text-top