@import "../../style/vars.styl"

#albums-wrapper
  width 100%
  height 100%
  padding 20px

  .title-big
    padding-left 15px
    border-left 1px solid white

  .list-spaced
    .list-item
      padding-bottom 15px
      cursor pointer

      &:hover
        color #eee

      //for num in (0..10)
      //  &.item-{num}
      //    padding-left num * 20px