@import "../../style/style.styl"

nav
  margin-top 20px

  ul .item
    display inline-block
    margin-right 30px
    color _red
    background _white
    font-weight _normal
    padding 7px 40px
    border-radius 20px
    cursor pointer